

h2,
h3,
h4,
h5 {
    text-align: center;
}

/* Message flashing */
.flash {
    background-color: #FBB0B0;
    padding: 10px;
    width: 400px;
}



/*new stuff*/
#scoring .form-group input[type=number]::-webkit-inner-spin-button,
#scoring .form-group input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#scoring .form-group input[type=number] {
    -moz-appearance: textfield;
}

#pit_scouting #notes input[type=text],
#scoring #match_notes input[type=text] {
    width: 200px;
    height: 75px;
}

#pit_reporting .form-group,
#pit_scouting .form-group,
#scoring .form-group {
    padding-left: 5px;
    padding-right: 5px;
}

#scoring .form-group input[type=number] {
    width: 42px;
    height: 42px;
    text-align: center;
}

#scoring .form-group button {
    width: 30px;
    height: 30px;
    margin: 5px;
}

#scoring .form-group label {
    width: 150px;
    padding-left: 5px;
    text-align: center;
}

#scoring .form-group select {
    width: 125px;
}
#scoring .row {
    font-size: 12px;
    line-height: 18px;
}

div#particle_speed.form-group,
div#capball_speed.form-group,
div#match_notes.form-group {
    display: none;
}