{% extends "base.html" %}
{% block content %}
    <h2>Robo Raiders FTC 7129</h2>
    <h3>Competition Management App</h3>
    <p>Manage competitions, teams, and scouting with this application. After scouting is complete,
        you can run reports for assistance with alliance selection.</p>
    <hr size="2">
    <a href="http://firstinspiresiowa.org/scores.html">NSR Scores & Rankings</a>
    <a href="https://www.youtube.com/watch?v=LRF3ZMheOcg">NSR Live Stream Day 1</a>
    <a href="https://www.youtube.com/watch?v=xRH_u71xObc">NSR Live Stream Day 2</a>
    {%  if 'username' in session %}
        <p>Put stuff in here only logged in peeps can see</p>
    {%  endif %}
{% endblock %}