{% extends "base.html" %}
{% block content %}
    <h2>Robo Raiders FTC 7129</h2>
    <h3>Competition Management App</h3>
    <p>Manage competitions, teams, and scouting with this application. After scouting is complete,
        you can run reports for assistance with alliance selection.</p>
    <hr size="2">
    <ul class="list-group">
    <li class="list-group-item list-group-item-info"><a href="/match-list">Match List</a></li>
    <li class="list-group-item list-group-item-info"><a href="/rankings">Match Results & Rankings</a></li>
    </ul>
    {%  if 'username' in session %}
        <p>Put stuff in here only logged in peeps can see</p>
    {%  endif %}
{% endblock %}