{% extends "base.html" %}
{% block content %}
    <h2>Robo Raiders FTC 7129</h2>
    <h3>Competition Management App</h3>
    <p>Manage competitions, teams, and scouting with this application. After scouting is complete,
        you can run reports for assistance with alliance selection.</p>
    <hr size="2">
    <a href="{{ url_for('match_list') }}"><h3>Match List</h3></a>
    <a href="{{ url_for('rankings') }}"><h3>Team Rankings & Match Results</h3></a>
    {%  if 'username' in session %}
        <p>Put stuff in here only logged in peeps can see</p>
    {%  endif %}
{% endblock %}