{% extends "base.html" %}
 
{% block content %}

    {% if form.errors %}
    <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

  <h2>Login</h2>
 
  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
   
  <form class="form-horizontal" action="{{ url_for('login', next=request.args.get('next','')) }}" method="post">
    {{ form.hidden_tag() }}
   <div class="form-group">
    {{ form.email.label(class_="control-label col-xs-6") }}
       <div class="col-xs-6">
    {{ form.email(class_="form-control") }}
           </div>
    </div>
      <div class="form-group">
    {{ form.password.label(class_="control-label col-xs-6") }}
          <div class="col-xs-6">
          {{ form.password(class_="form-control") }}
              </div>
     </div>
      <div class="form-group">
          <div class="col-xs-6">
            <label>{{ form.remember_me() }} Remember me</label>
          </div>
     </div>
      <div class="form-group">
         <div class="col-xs-12">{{ form.submit(class_="form-control") }} </div>
      </div>

  </form>
     
{% endblock %}