{% extends "base.html" %}

{% block content %}

      <h3>Match Report</h3>
    <table
        id="matchreport"
        class="table sticky-header table-responsive table-striped tablesorter highchart"
        data-graph-container-before="1"
        data-graph-type="column"
        data-graph-inverted="1"
        data-graph-height='750'
        data-graph-yaxis-2-opposite="1"
    >
    <thead>
        <tr>
            <th>Team</th>
            <th data-graph-yaxis="1" id="mr_pcr">PCR</th>
            <th id="mr_avg">Avg</th>
            <th id="mr_max">Max</th>
        </tr>
    </thead>
    <tbody>
    {% for x in data %}
        <tr>
            <td>{{ x[1] }}: {{ x[0] }}</td>
            <td>{{ '{0:0.2f}'.format(x[4]) }}</td>
            <td>{{ '{0:0.2f}'.format(x[2]) }}</td>
            <td>{{ x[3] }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}