{% extends "base.html" %}
 
{% block content %}

  <h3>Well that's embarrassing...</h3>
  <p>Sorry, something went <em>horribly</em> wrong.</p>
  <p><em>Like, poured your bowl of cheerios, sliced the banana, sprinkled the sugar
  only to discover you're out of milk wrong.</em></p>
  <p><b>Fear not!</b> A team of highly skilled nanobots have been deployed to deal with this situation. But if you see them, RUN!!</p>
  <h4>What do I do now?</h4>
    <p>Click the back button and try again</p>
    <p><a href="/">Head Home</a></p>
    <p><a href="https://amazon.com">Shop on Amazon</a></p>

     
{% endblock %}