{% extends "base.html" %}
{% block content %}
  <div class="jumbo">
    {% for x in team %}
    <h2>{{ x.name }}<h2>
        {% endfor %}
  </div>
    <hr size="5">
    <h4>Competitions</h4>
    <ul class="list-group">
    {% for x in competitions %}
    <li class="list-group-item"><a href="{{ url_for('team_scores_by_comp', team_id = team[0].id, comp_id = x.id) }}">{{  x.name }}</a></li>
    </ul>
    {% endfor %}

{#    <hr size="5">#}
{#    <h4>Mo Team Data</h4>#}
{#    <ul>#}
{#      {% for key, value in vvdata.iteritems() %}#}
{##}
{#          {% if key == 'matches' %}#}
{#              <ul>#}
{#              <lh>{{ key }}</lh>#}
{#              {% for x in value %}#}
{#                  <ul>#}
{#                  <lh>{{ x.match_id }}</lh>#}
{#              {% for mkey, mvalue in x.items() %}#}
{#              <li>{{ mkey }}: {{ mvalue }}</li>#}
{#              {% endfor %}#}
{#                  </ul>#}
{#              {% endfor %}#}
{#              </ul>#}
{#          {% elif key == 'events' %}#}
{#              <ul>#}
{#              <lh>{{ key }}</lh>#}
{#              {% for ekey, evalue in value[0].items() %}#}
{#                  <li>{{ ekey }}: {{ evalue }}</li>#}
{#              {% endfor %}#}
{#              </ul>#}
{#          {% else %}#}
{#            <li>{{ key }}: {{ value }}</li>#}
{#          {% endif %}#}
{##}
{#      {% endfor %}#}
{#    </ul>#}

{% endblock %}