{% extends "base.html" %}
{% block content %}

        {% if form.errors %}
    <ul>
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

  <h2>Add a Team</h2>


  {% for message in form.number.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  <form class="form-horizontal" action="{{ url_for('teams') }}" method="post">
    {{ form.hidden_tag() }}

      <div class="form-group">
    {{ form.number.label(class_="control-label col-xs-6") }}
          <div class="col-xs-6">
          {{ form.number(class_="form-control") }}
              </div>
     </div>

      <div class="form-group">
    {{ form.name.label(class_="control-label col-xs-6") }}
          <div class="col-xs-6">
          {{ form.name(class_="form-control") }}
              </div>
     </div>

      <div class="form-group">
         <div class="col-xs-12">{{ form.submit(class_="form-control") }} </div>
      </div>
  </form>
    <hr size="2">
  <h2>Existing Teams:</h2>
  <table class="table sticky-header table-responsive">
    <thead>
        <tr>
            <th><strong>Team Number</strong></th>
            <th><strong>Team Name</strong></th>
            <th><b>Actions</b></th>
        </tr>
    </thead>
    {% for team in teams %}
    <tr>
        <td><a href="{{ url_for('team', id = team.id) }}">{{  team.number }}</a></td>
        <td>{{  team.name }}</td>
        <td>
            <a href="{{  url_for('delete_team_entry', id = team.id) }}">Delete</a>
        </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}