{% extends "base.html" %}

{% block content %}

    <h2>{{ team[0].name }} team data</h2>
    <h3>{{ comp[0].name }}</h3>

    <table class="table sticky-header table-responsive" id="pit_report">
    <caption>Pit Scouting</caption>
    <tr>
        <th>Advancement</th>
        <th>Drivetrain</th>
        <th>Autonomous</th>
        <th>Defense (auto)</th>
        <th>Compatibility (auto)</th>
        <th>Center Vortex (auto)</th>
        <th>Corner Vortex (auto)</th>
        <th>Cap Ball (auto)</th>
        <th>Beacons (auto)</th>
        <th>Parking (auto)</th>
        <th>Center Vortex (teleop)</th>
        <th>Corner Vortex (teleop)</th>
        <th>Beacons (teleop)</th>
        <th>Cap Ball (teleop)</th>
        <th>Notes</th>
    </tr>
    {% for x in pit_scouting %}
    <tr>
    <td>{{ x.adv }}</td>
    <td>{{ x.drivetrain }}</td>
    <td>{{ x.auto }}</td>
    <td>{{ x.auto_defense }}</td>
    <td>{{ x.auto_compatible }}</td>
    <td>{{ x.a_center_balls }}</td>
    <td>{{ x.a_corner_balls }}</td>
    <td>{{ x.a_capball }}</td>
    <td>{{ x.a_beacons }}</td>
    <td>{{ x.a_park }}</td>
    <td>{{ x.t_center_balls }}</td>
    <td>{{ x.t_corner_balls }}</td>
    <td>{{ x.t_beacons }}</td>
    <td>{{ x.t_capball }}</td>
    <td>{{ x.notes }}</td>
    </tr>
    {% endfor %}
    </table>
    <p><a href="#" id="pit_report"><strong>Pivot Scouting Data Table</strong></a></p>


    <table class="table table-responsive">
    <caption>Match Scores</caption>
    <tr>
        <th>Match Number</th>
        <th>Center Particles Scored (a)</th>
        <th>Center Particles Missed (a)</th>
        <th>Beacons Claimed (a)</th>
        <th>Beacons Missed (a)</th>
        <th>Capball (a)</th>
        <th>Parking (a)</th>
        <th>Center Particles Scored (t)</th>
        <th>Center Particles Missed (t)</th>
        <th>Beacons Pushed (t)</th>
        <th>Beaconds Claimed (t)</th>
        <th>Capball Location (t)</th>
        <th>Capball Attempted (t)</th>
        <th>Autonomous Score</th>
        <th>Teleop Score</th>
        <th>Total Score</th>
    </tr>
    {% for x in match_scores %}
        <tr>
        <td>{{ x.match_number }}</td>
        <td>{{ x.a_center_vortex }}</td>
        <td>{{ x.a_center_vortex_miss }}</td>
        <td>{{ x.a_beacon }}</td>
        <td>{{ x.a_beacon_miss }}</td>
        <td>{{ x.a_capball }}</td>
        <td>{{ x.a_park }}</td>
        <td>{{ x.t_center_vortex }}</td>
        <td>{{ x.t_center_vortex_miss }}</td>
        <td>{{ x.t_beacons_pushed }}</td>
        <td>{{ x.t_beacon }}</td>
        <td>{{ x.t_capball }}</td>
        <td>{{ x.t_capball_tried }}</td>
        <td>{{ x.a_score }}</td>
        <td>{{ x.t_score }}</td>
        <td>{{ x.total_score }}</td>
        <td>{{ x.match_notes }}</td>
        </tr>
    {% endfor %}
    </table>



{% endblock %}